<h2>Welcome to avontell.com!</h2>

<p id="home-intro">Welcome to my website!</p>

<p id="about-me-home">I'm Aaron Vontell, a senior currently studying Computer Science at MIT. I'm interested in pretty much anything related to computer science; quantum programming, web development, Android programming, accessibility on the web, automation, complexity theory, graphic and UI design, etc... In my free time I like to work on my own personal projects, do research for my labs, and watch movies. Click on the links to the left to learn more!</p>

<div class="section group">
	<div class="col span_1_of_3">
	<h3>Recent Blog Posts</h3>
        <hr style="margin-right: 32px;" />
        <div class="blog-quick">
            <b class="blog-link" ng-click="jumpTo('quantum-analytics')">Analyzing Quantum Programs</b>
            <p class="blog-caption">Learn about the process and idea behind analyzing quantum programs written in pyQuil.</p>
            <p class="blog-byline">Written by Aaron Vontell on July 26, 2017</p>
        </div>
        <hr style="margin-right: 32px;" />
        <div class="blog-quick">
            <b class="blog-link" ng-click="jumpTo('universal-mistakes')">The Mistake of Universal Mobile Design</b>
            <p class="blog-caption">Learn why designing applications for multiple platforms requires going back to the drawing board.</p>
            <p class="blog-byline">Written by Aaron Vontell on Sep 16, 2016</p>
        </div>
        <hr style="margin-right: 32px;" />
        <div class="blog-quick">
            <b class="blog-link" ng-click="jumpTo('make-website')">Creating Beautiful Websites</b>
            <p class="blog-caption">Learn which front-end and UI frameworks to use when creating modern websites that follow best practices in design.</p>
            <p class="blog-byline">Written by Aaron Vontell on Sep 12, 2016</p>
        </div>
	</div>
	<div class="col span_1_of_3">
	<h3>Recent Reviews</h3>
        Coming soon!
	</div>
	<div class="col span_1_of_3">
	<h3>Weekly EDM Picks</h3>
        <iframe id="spotify" src="https://open.spotify.com/embed?uri=spotify:user:a90ca1yp53:playlist:1dUrau5HhrdyiFb81L9dgO" width="100%" height="380" frameborder="0" allowtransparency="true"></iframe>
	</div>
</div>