<h2>Welcome to avontell.com!</h2>

<p id="about-me-home">I'm <b>Aaron Vontell</b>, a senior currently studying Computer Science at MIT. I'm interested in pretty much anything related to computer science and entrepreneurship; startups, quantum programming, web development, Android programming, accessibility on the web, automation, complexity theory, graphic and UI design, etc... In my free time I like to work on my own personal projects, do research for my labs, and watch movies. Click on the links to the left to learn more!</p>

<em>Need some dev? Check out my company, <a href="http://vontech.org" target="_blank">Vontech Software, LLC</a></em>

<div class="section group">
	<div class="col span_1_of_3">
	<h3>Recent Blog Posts</h3>
        <hr style="margin-right: 32px;" />
        <div class="blog-quick">
            <a href="https://medium.com/365-days-of-coding/week-3-how-to-create-an-app-in-24-hours-ada3dd35d405" target="_blank"><b class="blog-link">How to Create an App in 24 Hours (Medium)</b></a>
            <p class="blog-caption">See the process and philosophy on using mobile applications as tools.</p>
            <p class="blog-byline">Written by Aaron Vontell on Feb 06, 2018</p>
        </div>
        <hr style="margin-right: 32px;" />
        <div class="blog-quick">
            <a href="https://medium.com/365-days-of-coding/week-2-custom-views-in-kotlin-material-chips-with-picasso-305d49df5267" target="_blank"><b class="blog-link">Custom Views in Kotlin — Material Chips with Picasso (Medium)</b></a>
            <p class="blog-caption">Learn how to create custom views for Android in Kotlin.</p>
            <p class="blog-byline">Written by Aaron Vontell on Jan 30, 2018</p>
        </div>
        <hr style="margin-right: 32px;" />
        <div class="blog-quick">
            <a href="https://medium.com/365-days-of-coding/creating-a-readable-url-shortener-60b021a113e5" target="_blank"><b class="blog-link">Creating a Readable URL Shortener (Medium)</b></a>
            <p class="blog-caption">Learn how to create a custom URL shortener with an emphasis on human readability</p>
            <p class="blog-byline">Written by Aaron Vontell on Jan 16, 2018</p>
        </div>
        <hr style="margin-right: 32px;" />
        <div class="blog-quick">
            <b class="blog-link" ng-click="jumpTo('quantum-analytics', '/blog')">Analyzing Quantum Programs</b>
            <p class="blog-caption">Learn about the process and idea behind analyzing quantum programs written in pyQuil.</p>
            <p class="blog-byline">Written by Aaron Vontell on July 26, 2017</p>
        </div>
        <hr style="margin-right: 32px;" />
        <div class="blog-quick">
            <b class="blog-link" ng-click="jumpTo('universal-mistakes', '/blog')">The Mistake of Universal Mobile Design</b>
            <p class="blog-caption">Learn why designing applications for multiple platforms requires going back to the drawing board.</p>
            <p class="blog-byline">Written by Aaron Vontell on Sep 16, 2016</p>
        </div>
        <hr style="margin-right: 32px;" />
        <div class="blog-quick">
            <b class="blog-link" ng-click="jumpTo('make-website', '/blog')">Creating Beautiful Websites</b>
            <p class="blog-caption">Learn which front-end and UI frameworks to use when creating modern websites that follow best practices in design.</p>
            <p class="blog-byline">Written by Aaron Vontell on Sep 12, 2016</p>
        </div>
	</div>
    <div class="col span_1_of_3">
	<h3>Recent Projects</h3>
        <hr style="margin-right: 32px;" />
        <div class="blog-quick">
            <b class="blog-link" ng-click="jumpTo('intouch', '/projects')">InTouch</b>
            <p class="blog-caption">A prison messaging platform written in AngularJS, Node.js, and PostgreSQL. Current serving as Lead Developer.</p>
            <p class="blog-byline">Website found at <a target="_blank" href="https://www.intouchproject.org">https://www.intouchproject.org</a></p>
        </div>
        <hr style="margin-right: 32px;" />
        <div class="blog-quick">
            <b class="blog-link" ng-click="jumpTo('tommy', '/projects')">Tommy</b>
            <p class="blog-caption">A pure-JavaScript speech navigation system for extended usability and accessibility.</p>
            <p class="blog-byline">Demo found at <a target="_blank" href="https://vontell.github.io/tommy/">https://vontell.github.io/tommy/</a></p>
        </div>
        <hr style="margin-right: 32px;" />
        <div class="blog-quick">
            <b class="blog-link" ng-click="jumpTo('wearable', '/projects')">Wearable Control</b>
            <p class="blog-caption">Control Google Slides and other PC software using an Android Wear and TensorFlow.</p>
            <p class="blog-byline">Demo coming soon!</a></p>
        </div>
	</div>
	<div class="col span_1_of_3">
	<h3>Recent Reviews</h3>
        <hr style="margin-right: 32px;" />
        <div class="blog-quick">
            <b class="blog-link" ng-click="jumpTo('annabelle-creation-movie', '/reviews')">Annabelle: Creation</b>
            <p class="blog-caption">One of the creepiest movies I have ever seen. Go see it!</p>
            <p class="blog-byline">Written by Aaron Vontell on August 13, 2017</p>
        </div>
        <hr style="margin-right: 32px;" />
        <div class="blog-quick">
            <b class="blog-link" ng-click="jumpTo('dark-tower-movie', '/reviews')">The Dark Tower</b>
            <p class="blog-caption">Action and some adventure, but nothing more. Maybe go see it...</p>
            <p class="blog-byline">Written by Aaron Vontell on August 12, 2017</p>
        </div>
	</div>
</div>